@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.body {
  background-color: rgb(160, 15, 44);
  height: 100%;
  text-align: center;
  display: block;
  min-height: 100vh;
  font-family: "Julius Sans One", sans-serif;
}
.body .header {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1.2fr);
  grid-auto-rows: auto;
  grid-gap: 1.5rem;
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .main {
    display: grid;
    grid-template-columns: auto;

    grid-auto-rows: auto;

    grid-gap: auto;
    font-family: "Julius Sans One", sans-serif;
  }
}
